.feed-list-wrapper{
  margin-bottom: 15px;
}

.link-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-feed-link {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 230px;
}

.add-feed-link-form-field {
  width: 180px;
}

.noFeedLinksText {
  display: inline-block;
  font-size: 3rem;
  width: 208px;
  text-align: center;
}

.feed-link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  min-height: 40px;
  cursor: pointer;
}

.feed-link-item:hover {
  background: #E0E0E0;
  border-radius: 2px;
}

.selected {
  background: #c9c9c9;
}

.selected:hover {
  background: #c9c9c9;
}

.feed-list-footer{
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
}
