<mat-card class="feed-list-wrapper">
  <div class="add-feed-link">
    <mat-form-field class="add-feed-link-form-field">
      <input matInput type="text" placeholder="RSS feed url" [(ngModel)]="newFeedLink"
             (keyup.enter)="saveFeedLink()" (keyup.escape)="newFeedLink=''"/>
      <button mat-button *ngIf="newFeedLink" matSuffix mat-icon-button aria-label="Clear" (click)="newFeedLink=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button mat-icon-button aria-label="add" (click)="saveFeedLink()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div>
    <div class="noFeedLinksText blue-gray" *ngIf="feedLinks?.length < 1">There no feed url's yet</div>
    <div class="feed-link-item" [ngClass]="{'selected': feedLink == selectedLink}"
         *ngFor="let feedLink of feedLinks" (click)="selectFeedLink(feedLink)">
      <span class="link-content">{{ feedLink | beautifulUrl }}</span>
      <button mat-button mat-icon-button aria-label="delete" *ngIf="feedLink == selectedLink"
              (click)="deleteFeedLink(feedLink)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-footer class="feed-list-footer blue-gray">Feed chanel's count: {{feedLinks?.length}}</mat-card-footer>
</mat-card>
