@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-light-blue, 400);
$candy-app-accent:  mat-palette($mat-light-green, A700);
$candy-app-warn:    mat-palette($mat-deep-orange, A400);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.warn-color{
  color: #FF3D00;
}
