/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.blue-gray{
  color: #B0BEC5;
}

.mat-input-container label{
  color: #B0BEC5;
}

html{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
